body {
  background-color: #450a0a;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 2.5em;
  margin-right: auto;
  margin-left: 2em;
  margin-top: 13px;
  margin-bottom: 10px;
}


#navbar{
  background-color: #c1707080;
  border-bottom: solid 2px #fffefe50;
  box-shadow: 0px 5px 10px #e77575;
  margin-bottom: 20px;

}

.pilih {
  color: #f8fafc;
  border-right: solid 1px #ffc0cb20;
  padding-top: 5px;
  transition: all 1s ease;
}

.pilih:hover {
  background-color: pink;
  color: black;
  filter: drop-shadow(0 0 4em #fffffe);
 
}

.app-login {
  margin-right: 16px;
  background-color: #f8e6e6;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 1s ease;
}

.app-login:hover{
  background-color: rgb(242, 9, 48);
  filter: drop-shadow(0 0 4em #fffffe);
  color: #f8e6e6;
}

/* ========================================== */
/* FOOTER */


.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c1707080;
  box-shadow: 0px 0px 50px #e77575;
  text-align: center;
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

.footer > .pertama {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  background-color: #450a0a80;
  border-radius: 5px;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  /* border: 1px solid; */
}

.footer > .pertama > img {
  width: 120px;
  height: auto;
  margin-bottom: 10px;
}


.footer > .isi {
  /* border: 1px solid; */
  color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer > .isi > .coment {
  /* border: 1px solid; */
  text-align: justify;
}

.coment p {
  margin: 5px 0px;
}

.sosmed {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.sosmed div{
  display: flex;
flex-direction: column;
align-items: center;
 /* border:  solid 1px black; */
}

.sosmed  img {
  max-width: 25px;
  margin: 10px;
  background-color: rgb(246, 245, 241);
  border-radius: 5px;
  background-color: #f8e6e6;
}

.sosmed  img:hover{
  background-color: rgb(158, 152, 152);
  transform: scale(1.1);
  transition: 0.8s;
  filter: drop-shadow(0 0 1em #f15240);
}

.instagram, .facebok, .x, .link  {
  display: flex;
  /* border: solid 1px black; */
  align-items: center;
}

.instagram > p:hover, .facebok > p:hover, .x > p:hover, .link > p:hover{
  border-bottom: 1px solid black;
  transition: 2s;
}

@media (min-width: 770px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
  }

  .footer .isi {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .coment {
    max-width: 900px;
  }

  .pertama {
   margin-right: 10px;

   width: 50%;
  }
}


