body {
  background-color: #450a0a;
  display: flex;
  flex-direction: column;
}

.navbar{
  background-color: #b45454;
  border-bottom: solid 2px #fffefe50;
  box-shadow: 0px 5px 10px #e77575;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  align-items: center;
}

.logo {
  height: 3.5em;
  margin: 15px 0px;
}

.menu {
  position: relative;
}

.pilih {
  color: #f8fafc;
  border-right: solid 1px #d85e72e4;
  transition: all 1s ease;
  padding: 10px 25px;
  margin-right: 10px;
}

.pilih:hover {
  background-color: pink;
  color: black;
  filter: drop-shadow(0 0 4em #fffffe);
 
}

.app-login {
  width: 200px;
  height: 55px;
  background-image: url("../src/assets/img/login.png");
  background-size: cover;
  transition: background-image 0.3s ease-in-out;
  margin: 5px 0px 0px 10px;
}

.app-login:hover{
  filter: drop-shadow(0 0 0.7em #f5f5f5);
  background-image: url("../src/assets/img/login2.png");
  width: 300;
}

/* ========================================== */
/* FOOTER */


.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c1707080;
  box-shadow: 0px 0px 50px #e77575;
  text-align: center;
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

.footer > .pertama {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  background-color: #450a0a80;
  border-radius: 5px;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  /* border: 1px solid; */
}

.footer > .pertama > img {
  width: 120px;
  height: auto;
  margin-bottom: 10px;
}


.footer > .isi {
  /* border: 1px solid; */
  color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer > .isi > .coment {
  /* border: 1px solid; */
  text-align: justify;
}

.coment p {
  margin: 5px 0px;
}

.sosmed {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.sosmed div{
  display: flex;
flex-direction: column;
align-items: center;
 /* border:  solid 1px black; */
}

.sosmed  img {
  max-width: 25px;
  margin: 10px;
  background-color: rgb(246, 245, 241);
  border-radius: 5px;
  background-color: #f8e6e6;
}

.sosmed  img:hover{
  background-color: rgb(158, 152, 152);
  transform: scale(1.1);
  transition: 0.8s;
  filter: drop-shadow(0 0 1em #f15240);
}

.instagram, .facebok, .x, .link  {
  display: flex;
  /* border: solid 1px black; */
  align-items: center;
}

.instagram > p:hover, .facebok > p:hover, .x > p:hover, .link > p:hover{
  border-bottom: 1px solid black;
  transition: 2s;
}

@media (min-width: 770px) {

  .navbar{
    background-color: #b45454;
    border-bottom: solid 2px #fffefe50;
    box-shadow: 0px 5px 10px #e77575;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
  }
  
  .logo {
    height: 3.5em;
    margin-right: auto;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .menu {
    padding: 15px;  
    display: flex;
    justify-content: end;
    flex-direction: row;
    margin-left: auto;
  }
  
  .pilih {
    color: #f8fafc;
    border-right: solid 1px #ffc0cb20;
    padding: 10px 25px;
    transition: all 1s ease;
    margin: 5px 5px;
  }
  
  .pilih:hover {
    color: black;
    filter: drop-shadow(0 0 4em #fffffe);
  }
  
  .app-login {
    width: 200px;
    height: 55px;
    content: none;
    background-image: url("../src/assets/img/login.png");
    background-size: cover;
    transition: background-image 0.3s ease-in-out;
    margin-left: 5px;
  }
  
  .app-login:hover{
    content: none;
    filter: drop-shadow(0 0 0.7em #f5f5f5);
    background-image: url("../src/assets/img/login2.png");
    width: 300;
  }

  .app-register {
    width: 200px;
    height: 55px;
    content: none;
    background-image: url("../src/assets/img/register.png");
    background-size: cover;
    transition: background-image 0.3s ease-in-out;
  }
  
  .app-register:hover{
    content: none;
    filter: drop-shadow(0 0 0.7em #f5f5f5);
    background-image: url("../src/assets/img/register2.png");
    width: 300;
  }
  

  /* ======================== */
  /* Footer */
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
  }

  .footer .isi {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .coment {
    max-width: 900px;
  }

  .pertama {
   margin-right: 10px;

   width: 50%;
  }
}

